.AddNoteButton{
    border-radius: 50px;
    border: none;
    height: 70px;
    width: 70px;
    font-size: 35px;
    color: #fefefe;
    background-color: #409ECE;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.164);
    position: fixed;
    bottom: 0;
    right: 0; 
    z-index: 2;
    margin-bottom: 92px;
    margin-right: 24px;
}
.addNote-btn-anim{
    animation-name: addNote-btn-anim;
    animation-duration: .8s;    
}

@keyframes addNote-btn-anim{
    0%{
        background-color: #409ECE;
    }
    50%{
        background-color: #3587b1;
    }
    100%{
        background-color: #409ECE;
    }
}