.LandingBackground{
    width: 100vw;
}
.LandingFeatures{
    position: relative;
}
.featuresBackground {
    width: 100vw;
    height: 362px;
    background-color:#fcfcfc;    
    display: flex;
    z-index: 1;
    margin-top: -50px;
    position: relative;
}

.featuresBackground:before{
    width: 100vw;
    height: 150px;
    border-radius: 0 0 100% 100%;
    background-color:#C0DDEB;  
    content: '';
    margin-top: -50px;
    z-index: 1;
    
}