.LoginWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.LoginContainer{
    height: 62.7vh;
    width: 91%;    
    max-width: 382px;
    background-color: #fefefe;
    border-radius: 20px;
    margin-top: 7.4vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login_title{
    font-size: 25px;
    color: #398ED9;
    margin-top: 0;
    margin-bottom: 30px;    
}
.register_icon{
    height: 56px;
    width: 56px;
    margin-bottom: 37px;
}
.login-link{
    color: #398ED9;
    font-size: 14px;
}