:root{
    --red-color: #F6B6B6;
    --blue-color: #B6E0F6;
    --green-color: #B6F6D4;
    --yellow-color: #F6E5B6;
    --light-red-color: #F6B6B6;
}

.NoteTextArea{
    display: block;
    top: 0;
    
    outline: none;
    margin-top: 29px;
    width: calc(100% - 40px);
    background-color: #fefefe;
    border-radius: 10px;
    border: 1px solid #ECECEC;
    padding: 20px;
    color: #7D7D7D;
    font-size: 14px;
    box-shadow: 0px 3px 6px hsla(0, 0%, 0%, 0.16);
}
.NoteTextArea-container{
    width: 100%;
}

.noteColor-red{
    border-bottom: 6px solid var(--red-color)
}
.noteColor-blue{
    border-bottom: 6px solid var(--blue-color)
}
.noteColor-green{
    border-bottom: 6px solid var(--green-color)
}
.noteColor-yellow{
    border-bottom: 6px solid var(--yellow-color)
}
.noteColor-red-light{
    border-bottom: 6px solid var(--light-red-color)
}