.ShowingFeatures-Wrapper{
    position: absolute;
    top: 0;
    z-index: 2;
    padding-top: 122px;
    padding-left: 12.5%;
}


.feature{
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}
.feature_title{
    padding-left: 17px;
    color: #61504E;
    font-size: 19px;
    margin: 0;
}
    

@media (max-width: 390px){
    .ShowingFeatures-Wrapper{
        padding-left: 10.5%;
    }
}

@media (max-width: 370px){
    .ShowingFeatures-Wrapper{
        padding-left: 8.5%;
    }
    .feature_title{
        font-size: 17px;
    }
}